@model LHShop.ViewModels.CompositeVM
<nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
    <div class="navbar-nav w-100">

        @foreach (var item in Model.MenuLoaiVMs)
        {
            <a class="nav-item nav-link" asp-controller="Hanghoa" asp-action="Index" asp-route-loai="@item.MaLoai">@item.TenLoai</a>
        }
    </div>
</nav>
 